@import url(main.css);



.communityPage {
    display: flex;
    justify-content: end;
    direction: ltr;
    padding-left: var(--sideNavbar-width);
    height: 100vh;
    overflow-y: auto;
}



.communitySection {
    padding: 2rem;
    direction: ltr;
    width: 100%;
}

.communitySection .community {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

}

.communitySection .community .createPost {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 100%;
}

.communitySection .community .createPost .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.communitySection .community .createPost span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    color: var(--text-color);
    transition: var(--basic-transition);
    font-weight: 700;
}


.communitySection .community .createPost .text i {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communitySection .community .createPost:hover .text i,
.communitySection .community .createPost:hover .text span {
    color: var(--main-color);
}

.communitySection .community .postsGrid {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin-top: 2rem;
    gap: 1rem;
}

.communitySection .community .postsGrid .postsGrid__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: var(--card-bg);
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
}

.communitySection .community .postsGrid .postsGrid__item .showMore {
    color: #dfdfdf;
    cursor: pointer;
    transition: var(--basic-transition);
}

.communitySection .community .postsGrid .postsGrid__item .showMore:hover {
    color: var(--text-color);
}

.communitySection .community .postsGrid .postsGrid__item .dropdown {
    position: absolute;
    top: 3rem;
    right: -6rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background: #222;
    border-radius: .5rem;
    height: 0;
    overflow: hidden;
    transition: var(--basic-transition);
    z-index: 3;
}

.communitySection .community .postsGrid .postsGrid__item .dropdown span {
    padding: .5rem 1rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    transition: var(--basic-transition);
}

.communitySection .community .postsGrid .postsGrid__item .dropdown .share:hover {

    color: rgb(108, 172, 255);
}


.communitySection .community .postsGrid .postsGrid__item .dropdown .delete:hover {
    color: rgb(255, 108, 108);

}

.communitySection .community .postsGrid .postsGrid__item .dropdown .edit:hover {

    color: rgb(255, 204, 108);
}

.communitySection .community .postsGrid .postsGrid__item .dropdown .copy:hover {

    color: rgb(108, 118, 255);
}

.communitySection .community .postsGrid .postsGrid__item .dropdown.show {
    height: 10rem;
    transition: var(--basic-transition);

}


.communitySection .community .postsGrid .postsGrid__item .userData__date {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: 1rem;

}

.communitySection .community .postsGrid .postsGrid__item .userData__date b {
    font-size: .8rem;
}


.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__menuBtn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
}

.postsGrid__item__userData {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5rem;
    background: var(--bg-color);
    padding: .5rem;
    border-radius: .5rem;
}

.postsGrid__item__userData .userName {
    display: flex;
    flex-direction: column;
}

.postsGrid__item__userData p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
}

.postsGrid__item__userData ul {
    font-size: .8rem;
    color: var(--gray-color);
    display: flex;
    gap: 1.8rem;
}

.postsGrid__item__userData li:nth-child(1) {
    list-style: none;
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__content h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: .2rem;
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__content p {
    font-size: .9rem;
    color: var(--gray-color);
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__image.fullScreen {
    margin: 0;
    border-radius: 0;

}


.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background: var(--bg-color);
    border-radius: .5rem;
    margin-top: 1rem;
}



.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__image button {
    background: var(--card-bg);
    border: 1px solid transparent;
    border-radius: .5rem;
    color: var(--main-color);
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    transition: var(--basic-transition);
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__image:hover button {
    opacity: 1;
}



.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__controlls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__controlls div {
    display: flex;
    gap: 1rem;
}


.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__controlls button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    ;
    font-size: 1.2rem;
    transition: var(--basic-transition);
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__controlls button:hover {
    color: var(--text-color);
}

.communitySection .community .postsGrid .postsGrid__item .postsGrid__item__controlls .likesComments {
    font-size: .8rem;
}


/* Comments */

.postsGrid__item__comments {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: var(--basic-transition);

}

.postsGrid__item__comments.show {
    margin-top: 3rem;

    height: 65.889vh;
}

.createComment {
    display: flex;
    width: 100%;
    gap: .5rem;
    background: var(--bg-color);
    padding: 1rem;
    border-radius: .5rem;
}

.commentsGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    gap: 2rem;
    max-height: 50vh;
    padding: 0 1rem 2rem 0;
    overflow-y: scroll;
}

.createComment>div {
    margin-right: 1rem;
}

.createComment input {
    width: 100%;
    padding: .5rem 1rem;
    background: var(--card-bg);
    border-radius: .5rem;
    border: 1px solid transparent;
    outline: none;
    color: var(--text-color);
    transition: var(--basic-transition);
}

.createComment button {

    border-radius: .5rem;
    border: none;
    background: var(--card-bg);
    padding: .5rem 1rem;
    color: var(--text-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: var(--basic-transition);
}


.createComment button:hover {
    border-color: var(--main-color);
}

.createComment input::placeholder {
    font-family: "Mulish", sans-serif;
}

.createComment input:focus {
    border-color: var(--main-color);

}

.commentCard {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.commentCard .userData {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.commentCard .userData span {
    font-weight: 900;
    font-size: 1rem;
}

.commentCard p {
    font-size: .8rem;
    color: var(--gray-color);
    margin-top: .3rem;
}

.commentCard .commentsControlls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.commentCard .commentsControlls div {
    display: flex;
    gap: 1rem;
}

.commentCard .commentsControlls button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    ;
    font-size: 1.2rem;
    transition: var(--basic-transition);
}

.commentCard .commentsControlls button:hover {

    color: var(--text-color);

}

.commentCard .commentsControlls span {
    font-size: .8rem;
}


.commentCard .repliesBtn {
    cursor: pointer;
}

.commentCard.reply {
    margin-left: 3rem;
}

.commentsGrid.reply {
    height: 0;
    overflow: hidden;
    padding: 0;
    border-left: 1px solid var(--bg-color);
    transition: var(--basic-transition);
}



.commentsGrid.reply.show {
    height: 70vh;
    padding: 1rem 1rem 2rem 0;
    padding-bottom: 3rem;
    overflow-y: scroll;

}

/*  form */



.createPostForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 99999999999999999999999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000d;
}

.createPostForm form {
    background: var(--card-bg);
    border-radius: .5rem;
    padding: 2rem;
    width: 45%;
}

.createPostForm .close {
    width: 100%;
    padding: none;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.createPostForm .close h3 {
    font-size: .9rem;
}

.createPostForm .close span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    font-size: 2rem;
    transition: var(--basic-transition);
    cursor: pointer;
}

.createPostForm .close span:hover {
    background: #111;
}


.createPostForm .formContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: .5rem;
}

.createPostForm .formContainer button[type=submit] {
    border: none;
    background: #111;
    border-radius: .5rem;
    color: var(--text-color);
    padding: .5rem 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: var(--basic-transition);
}

.createPostForm .formContainer button[type=submit]:hover {
    color: var(--main-color);
}

.createPostForm .formContainer #postBody {
    resize: none;
    width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: scroll;
    background: #111;
    border: none;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-family: "Mulish", sans-serif;
    padding: 1rem;
    outline: none;
    color: var(--text-color);
}

.createPostForm .formContainer #postTitle {
    resize: none;
    width: 100%;
    overflow-y: scroll;
    background: #111;

    border: none;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-family: "Mulish", sans-serif;
    padding: 1rem;
    outline: none;
    color: var(--text-color);

}

.createPostForm .formContainer #postBody::placeholder {
    font-family: "Mulish", sans-serif;
}


@media screen and (max-width: 936px) {
    .communityPage {
        padding-left: 0;
        height: calc(100vh - 4rem);
        margin-top: 4rem;

    }

    .communitySection .community .createPost {
        margin: 0;
        border-radius: 0;
    }

    .communitySection .community {
        width: 100%;
    }

    .communitySection {
        padding: 2rem 0;
    }

    .communitySection .community .postsGrid .postsGrid__item {
        border-radius: 0;
    }


    .communitySection .community .postsGrid .postsGrid__item .dropdown {
        right: 1.5rem;
    }

    .createPostForm form {
        width: 95%;
    }

}