@import url(main.css);



.form {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: var(--bg-color);
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
    font-family: "Mulish", sans-serif;

}

.register, .login {
    direction: ltr;
}

main .header {
    font-family: "Mulish", sans-serif;
}

.form .form__group {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.form .form__group.col {
    flex-direction: column;
    gap: .1rem;
}

.form .form__group input {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    outline: none;
    transition: var(--basic-transition);
    border: 1px solid transparent;
    font-family: "Mulish", sans-serif;

}

.form .form__group label {
    font-family: "Mulish", sans-serif;

}


.form .form__group select {
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    outline: none;
    transition: var(--basic-transition);
    border: 1px solid transparent;
    font-family: "Mulish", sans-serif;

}

.form .form__group input:focus {
    border-color: var(--main-color);
}

.form__group__btn {
    padding: .2rem 1.5rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--basic-transition);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    background: transparent;
    width: max-content;
    position: relative;
    overflow: hidden;
    font-family: "Mulish", sans-serif;

}

.form__group__btn:hover {
    background: var(--main-color);
    color: #f1f1f1;
    font-family: "Mulish", sans-serif;

}

.form__group p a {
    margin-right: .2rem;
    color: var(--main-color);
    font-family: "Mulish", sans-serif;

}

.form__group p a:hover {
    text-decoration: underline;
}

.form__group .phoneNumber {
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    border-radius: .5rem;
    overflow: hidden;
}

.form__group .phoneNumber input {

    background: none;
    width: calc(100% - 3rem);

    border-right: 0;
    border-top-right-radius: 0;
    font-family: "Mulish", sans-serif;

    border-bottom-right-radius: 0;
}

.form__group .phoneNumber p {
    padding: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mulish", sans-serif;

    background: var(--navbar-bg);
    padding: 0;
    border: 2px solid var(--navbar-bg);
}

.form .phoneNumber input:focus {
    border-color: var(--main-color);
}

