@import url(main.css);

.navbar {
    direction: ltr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: .2rem 3rem;
    z-index: 99999999999999999999999999999999;
}

.navbar .logo {
    color: var(--text-color);
}

.navbar .logo img {
    width: 3rem;
}

.navbar ul {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    width: 25%;
    right: -25%;
    transition: var(--medium-transition);
    background: var(--navbar-bg);
    list-style: none;
    height: 100vh;
    padding: 3rem 2rem 1rem 2rem;
}

.navbar .burger {
    display: flex;
}


.navbar ul li {
    width: 100%;
}

.navbar ul li a {
    color: var(--text-color);
    transition: var(--medium-transition);
    font-weight: 700;
    border-radius: .3rem;
    font-size: 1.1rem;

}

.navbar ul li a:hover {
    color: var(--main-color);

}

.navbar .burger {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border-radius: 50%;
    gap: 5px;
    display: flex;
}

.navbar .burger .line1,
.navbar .burger .line2 {
    background: var(--text-color);
    width: 30px;
    height: 2px;
    transition: 0.3s;
    border-radius: 2px;
}

.navbar.open .burger .line2 {
    width: 15px;
}

.navbar.open ul {
    right: 0;
}

.navbar.open ul::before {
    left: 0;
}


@media screen and (max-width: 1200px) {
    .navbar ul {
        width: 30%;
    }
}


@media screen and (max-width: 870px) {
    .navbar ul {
        width: 50%;
    }
}

@media screen and (max-width: 530px) {
    .navbar ul {
        width: 100%;
    }
}