@import url(main.css);


.sideNavbar {
    width: var(--sideNavbar-width);
    height: 100vh;
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    direction: ltr;
    z-index: 7;
}

.sideNavbarLinks {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sideNavbarLinks::-webkit-scrollbar {
    width: 3px;
}

.sideNavbar__userData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color-2);
    padding: 1rem;
    margin: .7rem .7rem 0 .7rem;
    border-radius: .5rem;
    position: relative;
}


.user .settingsLink {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: var(--main-color);
    font-size: 1.2rem;
}

.sideNavbar__userData button {
    display: none;
    cursor: pointer;
}

.sideNavbar__userData .user {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    color: var(--text-color);

}


.sideNavbar__userData .sideNavbar__userData__name {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.sideNavbar__userData .sideNavbar__userData__name p {
    font-size: 1.2rem;
    font-weight: 700;
}


.sideNavbar__userData .sideNavbar__userData__name span {
    font-size: .8rem;
    line-height: .7rem;
}

.navSubheadingLink {
    font-size: 1rem;
    color: var(--gray-color);
    text-decoration: none;
    font-weight: 700;
    padding: 0 .7rem;
    margin-top: 1rem;
}

.sideNavbar .otherLinks {
    display: flex;
    flex-direction: column;
    padding: 0 .7rem;
    gap: .5rem;
    width: 100%;
}

.sideNavbar .sideNavbarLinks .navLink {
    padding: 1rem;
    color: var(--text-color);
    font-weight: 900;
    background: var(--card-bg);
    width: 100%;
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}

.sideNavbar .sideNavbarLinks .navLink span {
    z-index: 9999999999;
    position: relative;

    transition: var(--basic-transition);

}

.sideNavbar .sideNavbarLinks .navLink>div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: .3rem;
    background: var(--main-color);
    z-index: 1;
    transition: var(--basic-transition);
}

.sideNavbar .sideNavbarLinks .navLink:hover>div {
    width: 100%;
}

.sideNavbar .sideNavbarLinks .navLink:hover span {
    color: var(--navbar-bg);
}



.communityDropdown h3 {
    padding: 1rem .7rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-weight: 900;
    cursor: pointer;

}

.communityDropdown:nth-last-child(1) h3 {
    border: none;
}

.communityDropdown h3 span {
    font-size: .8rem;
}

.communityMenu {
    list-style: none;
    padding-left: 2rem;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: var(--basic-transition);
}

.communityMenu li {
    margin-bottom: .5rem;
    width: 100%;
}


.communityMenu li:nth-last-child(1) {
    margin: 0;
}

.communityMenu li a {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
}


.communityMenu li a:hover {
    color: var(--gray-color);
}

.communityMenu li span {
    max-width: 12px;
    min-width: 12px;
    margin-right: .5rem;
}

.communityDropdown.show .communityMenu {
    display: inline-block;
    height: 160px;
}

.communityDropdown h3 .chervon {
    font-size: 1.2rem;
    transition: var(--basic-transition);
    display: flex;
    justify-content: center;
    align-items: center;
}


.communityDropdown.show h3 .chervon {
    rotate: 180deg;
}



.conversationPreview {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .3rem;
    padding: .5rem;
    margin: 0 .7rem;
    border-radius: .5rem;
    background: var(--card-bg);
    color: var(--text-color);
}

.conversationPreview p {
    font-weight: 800;
}

.conversationPreview>div {
    display: flex;
    flex-direction: column;
}

.conversationPreview span {
    font-size: .8rem;
    color: var(--gray-color);
}

.conversationsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

}


@media screen and (max-width: 936px) {

    .sideNavbar {
        width: 100%;
        height: fit-content;
        align-items: end;
        z-index: 999999999999;
    }


    .sideNavbar__userData {
        width: 100%;
        background: none;
        padding: .7rem 2rem;
        margin: 0;
        position: relative;
        z-index: 999999;

    }

    .sideNavbar__userData button {
        display: inline-block;
        background: none;
        color: var(--text-color);
        font-size: 1.3rem;
        border: none;
    }

    .sideNavbar__userData .sideNavbar__userData__name {
        display: none;
    }

    .sideNavbarLinks {
        position: absolute;
        left: -100%;
        top: 100%;
        height: 100vh;
        background: #100e0e;
        padding-top: 1rem;
        transition: var(--medium-transition);
    }



    .sideNavbar.open .sideNavbarLinks {
        left: 0;
    }

}