@import url(main.css);
@import url(community.css);

.videoSection {
    width: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
}

.videoContainer {
    width: 100%;
    position: relative;
}

.videoContainer span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-bg);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.1rem;
    color: var(--gray-color);
    font-weight: 900;
    gap: .2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.videoContainer span:hover {
    color: var(--text-color);
}
.videoSection .videoPreview {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: .5rem;
}


.videoSection .videoInfo {
    margin-top: 1rem;
}

.videoSection .videoInfo .title__likes__subscribe {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.videoSection .videoInfo .title__likes__subscribe .likes__subscribe {
    display: flex;

    gap: 1rem;
}



.videoSection .videoInfo .title__likes__subscribe .subscribeBtn,
.videoSection .videoInfo .title__likes__subscribe .commentBtn
 {
    background: #fff;
    border: none;
    color: var(--bg-color);
    cursor: pointer;
    transition: var(--basic-transition);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: .8rem;

    font-weight: 900;
}

.videoSection .videoInfo .title__likes__subscribe .commentBtn {
    background: #444;
    color: var(--text-color);

}

.videoSection .videoInfo .title__likes__subscribe .commentBtn:hover {
    background: #fff;
    color: var(--bg-color);


}

.videoSection .videoInfo .title__likes__subscribe .subscribeBtn:hover {
    background: #444;
    color: var(--text-color);
}

.videoSection .videoInfo .title__likes__subscribe span::selection {
    background: var(--card-bg);
}

.videoSection .videoInfo h2 {
    font-weight: 900;
    max-width: 75%;
}

.videoSection .videoInfo .vide__userData {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5rem;
    background: var(--card-bg);
    padding: .5rem;
    border-radius: .5rem;
    width: fit-content;
    margin-top: 1rem;
}

.videoSection .videoInfo .vide__userData .username {
    display: flex;
    flex-direction: column;
}

.videoSection .videoInfo .vide__userData p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
}

.videoSection .videoInfo .vide__userData ul {
    font-size: .8rem;
    color: var(--gray-color);
    display: flex;
    gap: 1.8rem;
}

.videoSection .videoInfo .vide__userData li:nth-child(1) {
    list-style: none;
}

.videoSection .videoInfo .videoDesc {
    font-size: .8rem;
}

.videoSection .videoInfo .videoDesc__container,

.videoSection .videoInfo .videoComments__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    gap: .1rem;
    padding-bottom: 2rem;
}

.videoSection .videoInfo .videoDesc__container h3,
.videoSection .videoInfo .videoComments__container h3 {
    font-size: 1rem;
    font-weight: 700;

}

.videoSection .videoInfo .videoComments__container .createComment {
    background: #100e0e;
    margin-bottom: 1rem;
}

.videoSection .videoInfo .videoComments__container .videoComments {
    margin-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}



@media screen and (max-width: 936px) {
    .videoSection .videoInfo h2 {
        font-size: 1.3rem;

    }
.videoSection .videoInfo .videoComments__container .videoComments {
    width: 100%;

    }

}