@import url(main.css);


.videosSection {
    width: 100%;
    padding: 2rem;
    position: relative;

}

.videosSection .blog__grid {
    margin-top: 2rem;
    gap: 3rem;
    padding-bottom: 3rem;
}

.videoThumbnail {
    height: 11rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: .2rem;
}

.videoThumbnail .videoDuration {
    background: #000d;
    font-size: .8rem;
    font-weight: 500;
    padding: .2rem .3rem;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoUserData {
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-top: .5rem;
}


.videoCard>a {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: .7rem;
    color: var(--text-color);
}


.videoViews__date__owner {
    display: flex;
    flex-direction: column;
}

.videoViews__date__owner h4 {
    font-size: 1rem;

}

.videoViews__date {
    display: flex;

    gap: 1.8rem;
    font-size: .8rem;
    font-weight: 600;
}

.videoViews__date li:nth-child(1) {
    list-style: none;
}

.searchVideo {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.searchVideo a{
    background: var(--card-bg);
    padding: .5rem 1rem;
    color: var(--main-color);
    border: 1px solid transparent;
    border-radius: .5rem;
    cursor: pointer;
    transition: var(--basic-transition);
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.searchVideo a:hover {
    border-color: var(--main-color);

}

.searchVideo form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: .5rem;
}


.searchVideo input {
    padding: .5rem 1rem;
    background: var(--card-bg);
    width: 20vw;
    border-radius: .5rem;
    border: 1px solid transparent;
    outline: none;
    color: var(--text-color);
    transition: var(--basic-transition);
}

.searchVideo input::placeholder {
    font-family: "Mulish", sans-serif;
}

.searchVideo input:focus {
    border-color: var(--main-color);
    
}

.searchVideo button {
    border-radius: .5rem;
    border: none;
    background: var(--card-bg);
    padding: .5rem 1rem;
    color: var(--text-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: var(--basic-transition);
}

.searchVideo button:hover {
    border-color: var(--main-color);
}

@media screen and (max-width: 936px) {
    .searchVideo {
        gap: 1rem;
    }

.searchVideo a{
    font-size: .7rem;
 }


.searchVideo input {
    width: 25vw;
}

}

